<div>
    <h1>{{ section.settings.recently-prodcut }}</h1>
</div>
{%  schema  %} 
{
    "name":"Recently-view",
    "settings": [
        {
            "type":"text",
            "id":"recently-prodcut",
            "label": "Section Name"
        }
    ],
    "presets": [
        {
            "name":"Recently-view"
        }
    ]
}
{% endschema %} 