.Second-button{
    width: 100%;
    font-size: 20px;
    background: #000;
    color: #fff;
    border: none;
    margin-top: 2%;
    padding: 1%;
}
.card__media .loding-logo{
  z-index:9999;
  
}
.card__media .loding-show{
  display: none !important;
}
img:before{
  content: ''; 
            background: url('bg.png')  
                no-repeat center center/cover; 
}
/* .card__media .igp_clas{
  display:none;
} */
