.Delivery_type .deliv {
  display:flex;
}
.same.deliv {
    display: flex;
    flex-direction: column;
}
.same.deliv:nth-child(2){
  color:red;
}
.Delivery_type{
  display:flex;
}
.Select_date_main{
  display:none;
}
.Select_data_box{
  display:flex;
  border:1px solid;
}
.Select_data_box .same:first-child{
  padding:10px;
  background:#fff;
}
.Select_data_text p{
  font-size: 16px;
    color: #4f4f4f;
    font-family: "PublicSans Semibold";
    letter-spacing: .3px;
    padding-right: 12px;
}
.Select_data_box .same{
  text-align:center;
  border-left: 1px solid;
  padding:10px;
}
.same .span_date{
  padding:10px 20px;
}
.pin_box{
  display:flex;
  border:2px solid;
  padding: 3px;
    width: 80%;
  gap:5px;
}

.same input{
  border: none;
    outline: none;
    padding: 7px 5px;
    margin-top: 4px
}
.same button{
  border: none;
    background: #fff;
    color: green;
    font-size: 14px;
    font-weight: bold;
  padding:10px;
}
.col-5{
  display:none;
}
.col-2{
  display:none;
}
.col-2 .err{
background: lightpink;
    color: red;
    padding: 12px 20px;  
}
.same .che{
  border: none;
    background: lightblue;
    color: #276ef1;
    font-size: 14px;
    font-weight: bold;
 padding: 12px 20px;
}
.same:first-child{
  background:#f2f2f2;
   padding: 5px 20px;
}

.product__media-wrapper .product-media-container{
  position:relative;
}
.product__media-wrapper .product-media-container .Logo_image_pdp{
  position: absolute;
    bottom: 0;
    right: 0;
}
.Second-button{
    width: 100%;
    font-size: 20px;
    background: #000;
    color: #fff;
    border: none;
    margin-top: 2%;
    padding: 1%;
}
.card__media .loding-logo{
  z-index:9999;
  
}
.card__media .loding-show{
  display: none !important;
}
img:before{
content: ''; 
background: url('https://cdn.shopify.com/s/files/1/0792/5422/5188/files/igp-loader-img-new.png?v=1698301705')  
 no-repeat center center/cover; 
  display: block !important;
}
/* .card__media .igp_clas{
  display:none;
} */

.placeholder-img{
  position: absolute;
  background:lightgray;
  color:#fff;
  padding-top:50%;
  text-align:center;
}
